<div class="pull-right">
    <!-- <span class="dropdown">
        <%= link_to "#", class: "dropdown-toggle btn btn-info", data:{toggle:"dropdown"} do %>
            Sort_by
    <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
            <li><%= link_to "Sort by Min Wage", jobs_path(order: 'by_lower_bound') %></li>
            <li><%= link_to "Sort by Max Wage", jobs_path(order: 'by_upper_bound') %> </li>
            <li><%= link_to "Sort by Post Time", jobs_path %></li>
        </ul>
    </span> -->
    <%= link_to "New Job", new_job_path, class: "btn btn-primary" %>
</div>
<h1>Jobs</h1>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><%= link_to "Title", jobs_path(order: 'by_title') %><span class="fa fa-caret-down"></span></th>
                <th>Description</th>
                <th>Salary</th>
                <th><%= link_to "Location", jobs_path(order: 'by_location') %><span class="fa fa-caret-down"></span></th>
                <th><%= link_to "Company", jobs_path(order: 'by_company') %><span class="fa fa-caret-down"></span></th>
                <th><%= link_to "Category", jobs_path(order: 'by_category') %><span class="fa fa-caret-down"></span></th>
                <th colspan="2"></th>
                <th><%= link_to "Post Time", jobs_path %><span class="fa fa-caret-down"></span></th>
            </tr>
        </thead>
        <tbody>
            <% @jobs.each do |job| %>
                <tr>
                    <td><%= link_to job.title, job %></td>
                    <td><%= job.description %></td>
                    <td><span  class="label label-default"><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></span></td>
                    <td><%= job.location %></td>
                    <td><%= job.company %></td>
                    <td><%= job.category %></td>
                    <td><%= link_to 'Edit', edit_job_path(job) %></td>
                    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <td><%= job.created_at.strftime("%D") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="apple_pagination">
        <div class="page_info">
            <%= page_entries_info @jobs %>
        </div>
        <%= will_paginate @jobs %>
    </div>
</div>
<br>
