<div class="pull-right">
  <%= link_to "New Job", new_admin_job_path, class: "btn btn-primary" %>
</div>
<h1>Jobs</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Min Salary</th>
        <th>Max Salary</th>
        <th colspan="3"></th>
        <th>Post Time</th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render_job_status(job) %>
            <%= link_to job.title, job %>
          </td>
          <td><%= job.description %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= link_to 'Edit', edit_admin_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            <% if job.is_hidden %>
            <%= link_to "Publish", publish_admin_job_path(job), method: :post, class: "btn btn-success" %>
            <% else %>
            <%= link_to "Hide", hide_admin_job_path(job), method: :post, class: "btn btn-warning" %>
            <% end %>
          </td>
          <td><%= job.created_at.strftime("%D") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
