<div class="modal fade" tabindex="-1" role="dialog" id="login">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <%= f.input :email %>
                    <%= f.input :password %>
                    <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
                    <%= f.submit "Sign in", class: 'btn btn-small btn-success' %>
                <% end %>
            </div>
            <div class="modal-footer">
                <%= render "devise/shared/links" %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
